*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
html,body{
    height: 100%;
}
.stylebody{
    
    background-image: url("../../images/fondo.png");
    background-repeat:no-repeat;
    background-size: 100% 120%;
    overflow-x:hidden;
    
}

header{
   
    height: 10.0rem;
    background: none;
    /* background: linear-gradient(to left, #0b8793, #360033);  */


}
header a{

    color:white;
    font-size: 3.0rem;
    text-decoration: none;
    font-weight: bolder;
    
}
header a:hover{
    
    color: white;
}
 
#logout{
    font-size: 2.0rem;
    margin-top: 1.0rem;
    color: white;
}
.flexing{
    display:flex;
    justify-content: space-evenly;
}
h2{
    font-size: 2.5rem;
    color: white;
}



#consultar{
    font-size: 1.7rem;
    width:11.0rem;
    height: 5.0rem;
    margin-bottom: 1.0rem;
    border-radius: 1.5rem;
}
#regresar{
    font-size: 1.7rem;
    width:11.0rem;
    height: 5.0rem;
    margin-bottom: 1.0rem;
    border-radius: 1.5rem;
}
.margen{
    margin: 1.0rem 1.0rem 1.0rem 1.0rem;
}

.tarjeta{
    margin-top: 1.5rem;
    width:20.0rem;
    height: 19.0rem;
    background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432); 
    background: linear-gradient(to right, #240b36, #c31432); 
    border-radius: 1.5rem;
    padding: 0.5rem;
}
.btn{
    font-size:1.6rem;
    
}
.tarjeta:hover{
    
    background: #c31432;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.tarjeta p{
    color:white;
    font-size: 1.5rem;
}
.tarjeta h1,h2,h3,h4,h5{
    color:white;
}
.btn_add{
    background: none;
    border: none;
    margin:2.5rem;
}
.btn-center{
    margin-left:5.5rem;
}

.productos{
    margin-top:1.5rem;
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.view_product h2,p,a{
    font-size: 1.6rem;
    color:white;
}
.view_product{
    background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432); 
    background: linear-gradient(to right, #240b36, #c31432); 
    position: relative;
    display:flex;
    width: 50.0rem;
    top: -40.0rem;
    border-radius: 1.7rem;
    padding: 2.0rem;
}
.view_product_buttons{
    display:flex;
    justify-content: space-around;
}

.add_product{
    width:50.0rem;
    background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432); 
    background: linear-gradient(to right, #240b36, #c31432); 
    border-radius: 1.5rem;
    display:flex;
    justify-content: space-between;
    top: -40.0rem;
    position: relative;
}
.btn-img{
    background: none;
    border: none;
    margin:2.5rem;
}
.btn-cerrar{

    background: none;
    border: none;
    margin:2.5rem;
    position: relative;
    top:-13.0rem;
    right: -5.0rem;
}



@media screen AND  (max-width:70.0rem){

    header{
        width:100%;
        height: 13.0rem;
    }
    header a{

        color:white;
        font-size: 2.0rem;
        text-decoration: none;
        font-weight: normal;
        
    }
    #logout{
        font-size: 1.4rem;
        margin-top: 0.7rem;
        
    }
    .flexing{
        display:inline-flex;
        justify-content: space-evenly; 
        flex-direction: row;
        flex-wrap: wrap;
    }
}